html{
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    font-family: 'Roboto', sans-serif;
    background-color: #05292E;
}
.locationInfo{
    display: flex;
    color: white;
    background-color: #062226;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
    
}
.locationInfo-ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    
   
}
.locationInfo> ul > li{
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: flex-start;
    
}
.locationInfo> ul > li > span{
    font-size: 1.1rem;
  
}
.img-header{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-header > ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.search-header > ul >li:hover{
    background-color: #062226 ;
    color: white;
    cursor: pointer;
}
.form-header{
    font-size: 1.2rem;
    border-radius: 2px;
    box-shadow: 0 -15px 40px #084851;
    padding: 0.3rem;
    

}
.button_form{
    background-color: #05292E;
    color:white
}

.search-header{
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 85%;
    z-index: 1;
    background-color: white;

}
img{
    width: 100%;
}
.location-residents{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.resident-card{
    background-color:#062226 ;
    color: white;
}

.resident-card_body{
padding: 15px;
}
.resident-card_body > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resident-card_header{
    position: relative;
    
}

.circle{
    width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.circle.Alive{
    background-color: #4ab648;
}
.circle.Dead{
    background-color: #b94343;
}
.circle.unknown{
    background-color: #938686;
}

.resident-card_status{
    position: absolute;
    top:20px;
    display: flex;
    align-items:center;
    gap:10px;
    padding:5px 10px;
    background-color:#062226 ;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;;
}

.resident-card_body span{
    display: flex;
    flex-direction: column;
    color: #7e7e7e;
    font-size: 0.8rem;
}
.resident-card_body div{
   padding-bottom: 10px; 
   margin-bottom: 10px;
   border-bottom: 0.5px solid #084851;
   font-weight: 100;
}
.resident-card_body h2{
    font-weight: 100;
 }
.errorMessage{
    color: #fff;
    background-color: red;
    border-radius: 10px;
    padding: 5px 15px;
    width: max-content;
    position: absolute;
    top: 5px;
    right: -100%;
    animation: 0.3s ease-in forwards showError; 
}

.errorMessage p {
    margin: 0;
}

@keyframes showError{
    0%{right: -100%;}
    50%{right: -50%;}
    100%{right: 10px;}
}

