html{
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    font-family: 'Roboto', sans-serif;
}
.img-header{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-header > ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.search-header > ul >li:hover{
    background-color: #062226 ;
    color: white;
    cursor: pointer;
}
.form-header{
    font-size: 1.2rem;
}

.search-header{
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 90%;
    z-index: 1;
    background-color: white;

}
img{
    width: 100%;
}
.location-residents{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.resident-card{
    background-color:#062226 ;
    color: white;
}

.resident-card_body{
padding: 15px;
}
.resident-card_body > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resident-card_header{
    position: relative;
    
}

.circle{
    width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.circle.Alive{
    background-color: #4ab648;
}
.circle.Dead{
    background-color: #b94343;
}
.circle.unknown{
    background-color: #938686;
}

.resident-card_status{
    position: absolute;
    top:20px;
    display: flex;
    align-items:center;
    gap:10px;
    padding:5px 10px;
    background-color:#062226 ;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;;
}

.resident-card_body > ul >li{
    display: flex;
    flex-direction: column;
    color: #7e7e7e;

}
.errorMessage{
    color: #fff;
    background-color: red;
    border-radius: 10px;
    padding: 5px 15px;
    width: max-content;
    position: absolute;
    top: 5px;
    right: -100%;
    animation: 0.3s ease-in forwards showError; 
}

.errorMessage p {
    margin: 0;
}

@keyframes showError{
    0%{right: -100%;}
    50%{right: -50%;}
    100%{right: 10px;}
}

